* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    color: #222328;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit
}

/* 구조 */

.wrap {
    /* 정의서에 정해진 가로 길이 */
    width: 1000px;
    margin: 0 auto;
    /* 헤더와 바디를 float했을 때 높이값을 찾아주기 위해서 처리 */
    overflow: hidden;
}

header {
    /* 왼쪽으로 보냄 */
    float: left;
    /* 가로, 세로길이 정해줌 */
    width: 200px;
    /* 정의서에 정해진 세로길이 */
    height: 650px;
    /* 헤더옆에 바디와의 약간의 간격을 줌*/
    margin-right: 10px;
    background-color: #dddddd;
}

.body_wrap {
    /* 약간의 간격 10px생각해서 790px으로 정함*/
    width: 790px;
    /* 오른쪽으로 보냄*/
    float: right;
}

.logo_area {
    padding: 30px 0;
    background-color: #fff;
}

.logo_area img {
    width: 200px;
    height: 40px;
}

.menu_area {
    /* 가로길이는 100% */
    width: 100%;
    text-align: center;
}

.menu_area .main_menu > li {
    background-color: #ccc;
}

.menu_area .main_menu > li:hover {
    background-color: #222;
    color: #fff;
}

.menu_area .main_menu > li > a {
    /* a도 상위 li와 크기를 같게 맞춰줘야함 */
    width: 100%;
    display: inline-block;
    padding: 12px 0;
}

.sub_menu {
    /* 처음엔 안보임 */
    display: none;
    /* 서브메뉴 하나의 높이 정해줌 */
    height: 110px;
}

.sub_menu > li {
    width: 100%;
    background-color: #fff;
    color: #222;

}

.sub_menu > li > a {
    /* 서브메뉴의 한 메뉴에도 상위 li와 같은 크기로 정해줌 */
    width: 100%;
    display: inline-block;
    padding: 8px 0;
}

.sub_menu li:hover {
    background-color: orange;
}



/* Slides */
.slides {
    width: 100%;
    height: 350px;
    position: relative;
}

.slides a {
    position: absolute;
    top: 0;
    left: 0;
}

/* Contents */
.contents {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    display: flex;
    grid-gap: 10px
}

.tab_area {
    width: 40%;
}

.tab_area .btn_area {
    display: flex;
    grid-gap: 15px
}

.tab_area .btn_area li {
    background-color: orange;
    color: #fff;
    padding: 2px 8px;
}

.tab_area .btn_area li.active {
    background-color: #ffcb6b;
    color: #000;
    font-weight: bold;
}


.notice_area {
    margin-top: 10px;
}

.notice_area li {
    padding: 5px 2px;
}

.notice_area li a {
    font-weight: bold;
    font-size: 15px;
}

.notice_area li:nth-child(2n) {
    background-color: orange;
}


.notice_area li span {
    float: right;
    font-size: 13px;
}

/* Gallery Area */
.gallery_area .gallery {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery_area img {
    width: 80px;
}

.banner_area {
    width: 30%;
    background-image: url(../images/banner.jpg);
    position: relative;
}

.direct_area {
    width: 30%;
    background-image: url(../images/direct.jpg);
    position: relative;
}

.banner_area a,
.direct_area a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.65);
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between
}


footer .footer_menu {
    display: flex;
    margin-top: 20px;
    font-weight: bold;
    grid-gap: 10px
}

.copy_right {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}

/* Layer Popup */
.layer_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 30px;
    background-color: #fff;
}

.popup_content h3,
.popup_content p {
    padding-bottom: 20px;
}

.popup_close_btn {
    border: none;
    padding: 3px 15px;
    float: right;
    background-color: orange;
}

.popup_close_btn:hover {
    background-color: #ffc252;
}
