@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    color: #222;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 100px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.slides {
    width: 100%;
    height: 300px;
}

.contents {
    width: 100%;
    height: 200px;
}

footer {
    width: 100%;
    height: 100px;
}

/* Header */
header {
    background-color: #719cff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_area img {
    width: 200px;
    height: 40px;
}

.menu_area {
    width: 600px;
}

.menu_area ul.main_menu {
    display: flex;
    text-align: center;
    width: inherit;
}

.menu_area ul.main_menu > li {
    width: 150px;
    height: 50px;
    background-color: #3d6dd9;
}

.menu_area ul.main_menu > li > a {
    width: inherit;
    height: inherit;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.menu_area ul.main_menu li:hover {
    background-color: #719cff;
}

ul.main_menu ul.sub_menu {
    width: 150px;
    background-color: #fff;
    border-bottom: 1px solid #3d6dd9;
    display: none;
    position: absolute;
    z-index: 10;
}

ul.main_menu ul.sub_menu > li {
    width: inherit;
}

ul.main_menu ul.sub_menu > li > a {
    display: inline-block;
    width: inherit;
    padding: 8px;
    font-weight: bold;
}

ul.main_menu ul.sub_menu > li > a:hover {
    color: #fff
}

/* Slides */
.slides {
    overflow: hidden;
    position: relative;
}

.slides a {
    position: absolute;
    top: 0;
    left: 0;
}

/* Contents */
.contents {
    display: flex;
    grid-gap: 10px;
    margin-top: 10px;
}

.tab_area {
    width: 40%;
}

.tab_btn a {
    display: inline-block;
    padding: 5px 8px;
    color: #222;
    font-weight: bold;
    border: 2px solid #4988ff;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

/*.tab_btn a:last-child {
    transform: translateX(-8px)
}*/
.tab_btn a.active {
    color: #fff;
    background-color: #4988ff;
}

.tab_content {
    border: 2px solid #4988ff;
}

.tab_content .notice ul li {
    padding: 9px 5px;
    border-bottom: 1px solid #ddd;
}

.tab_content .notice ul li:nth-child(2n) {
    background-color: #a6c5ff;
}

.tab_content .notice ul li:hover {
    opacity: 0.5;
}

.tab_content .notice ul li a {
    font-weight: bold;

}

.tab_content .notice ul li span {
    float: right;
}

.tab_content .gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
}

.tab_content .gallery a img {
    width: 120%
}

.tab_content .gallery a:hover img {
    opacity: 0.5
}

.banner_area {
    width: 30%;
    background-image: url(../images/banner.jpg);
    position: relative;
}

.direct_area {
    width: 30%;
    background-image: url(../images/direct.jpg);
    position: relative;
}

.banner_area a,
.direct_area a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.57);
    color: #fff;
    padding: 8px;
    transition: 0.35s;
}

.banner_area a:hover,
.direct_area a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between
}

.footer_content_area .copy_right {
    font-size: 14px;
    color: gray;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu li {
    transition: 0.35s
}

.footer_menu li:hover {
    font-weight: bold;
}

.layer_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    padding: 30px;
    display: none;
}

.popup_content h3,
.popup_content p {
    margin-bottom: 20px;
}

.popup_close_btn {
    cursor: pointer;
    float: right;
    border: none;
    outline: none;
    padding: 5px 15px;
    background-color: #a6c5ff;
    font-weight: bold;
}
