* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #333333;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
}

.slides {
    width: 100%;
    height: 300px;
}

.contents {
    width: 100%;
    height: 200px;
}

footer {
    width: 100%;
    height: 100px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(161, 198, 255);
    position: relative;
    z-index: 10;
}

header .logo_area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

header .logo_area img {
    width: 200px;
    height: 40px;
}

header .main_menu {
    /* 메뉴 area를 600px로 가로길이 지정 */
    width: 600px;
}

header .main_menu > ul {
    /* 메인메뉴들을 가로로 정렬 */
    display: flex;
    /* 글자는 가운데 정렬 */
    text-align: center;
}

header .main_menu > ul > li {
    /* 전체가 600이니까 메뉴 하나는 150px로 정의 */
    width: 150px;
    /* 정의서에 지정된대로 100px */
    height: 100px;
    /* 마우스 올렸을때 효과를 주기 위함 */
    transition: 0.35s;
}

header .main_menu > ul > li > a {
    /* width, height 값을 지정할때에는 dib */
    display: inline-block;
    /* 가로길이 상속 */
    width: inherit;
    /* 세로길이 상속 */
    height: inherit;
    /* 메인메뉴의 텍스트를 가로중앙, 세로중앙 정렬*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* 폰트 설정 */
    font-size: 20px;
    font-weight: bold;
}

header .main_menu > ul li:hover {
    /* 마우스 올렸을 때에 흰색 배경으로 변경 */
    background-color: #fff;
}

header .main_menu > ul > li ul {
    /* 서브메뉴 */
    /* position : relative를 header에 해주었는데 여기에 absolute를 해주어서 subMenu가 맨위로 뜨게한다. */
    position: absolute;
    /* 처음에는 보이지 않게하고 jQuery로 마우스 오버할때 나타나게 해줌 */
    display: none;
    /* 가로길이 지정 */
    width: 150px;
}

header .main_menu > ul > li ul li {
    /* 서브메뉴 하나하나 padding을 줌*/
    padding: 10px;
    background-color: rgb(161, 198, 255);
}

/* Slides */
.slides {
    position: relative;
    overflow: hidden;
}

.slide a {
    position: absolute;
    top: 0;
    left: 0;
}

/* Contents */
.contents {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tab_menu_area {
    width: 40%;
    height: 200px;
}

.tab_menu_area .tab_btn {
    display: flex;
}

.tab_menu_area .tab_btn li {
    padding: 3px 15px;
    background-color: rgb(161, 198, 255);
    font-size: 18px;
    font-weight: bold;
}

.tab_menu_area .tab_btn li:first-child {
    margin-right: 8px;
}

.tab_menu_area .tab_btn li.active {
    background-color: rgb(81, 151, 255);
    color: #fff;
}

.notice_area {
    margin-top: 8px;
}

.notice_area ul li {
    padding: 8px 0;
    margin: 5px 0;
}

.notice_area ul li:nth-child(2n) {
    background-color: rgb(161, 198, 255);
}

.notice_area ul li a {
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
}

.notice_area ul li span {
    float: right;
    margin-right: 5px;
    font-size: 13px;
}

.gallery_area {
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_area {
    width: 30%;
    background-image: url(../images/banner.jpg);
    background-position: center;
}

.direct_area {
    width: 30%;
    background-image: url(../images/direct.jpg);
    background-position: center;
}

/* Footer */
footer {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer .logo_area {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sub_footer_area {
    float: right;
    margin-top: 30px;
}

.sub_footer_area .bottom_menu {
    display: flex;
}

.sub_footer_area .bottom_menu li {
    margin: 0 10px;
    width: 100%;
}

.sub_footer_area .copy_right {
    color: gray;
    margin-top: 10px;

}

.sub_footer_area .copy_right p {
    margin-right: 20px;
}

.modal_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    padding: 30px;
}

.modal_content h3,
.modal_content p {
    margin-bottom: 20px;
}

.modal_content button {
    width: 100%;
    border: none;
    padding: 8px;
    background-color: rgb(81, 151, 255);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
